*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
**/androidTestResultsUserPreferences.xml
.DS_Store

/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
app/src/main/assets/config.properties

# Jacoco reports should be tracked by git and pushed
**/build/generated
**/build/gmpAppId
**/build/intermediates
**/build/kotlin
**/build/kover
**/build/outputs
**/build/test-results
**/build/tmp
**/build/reports/androidTests
**/build/reports/tests
**/build/reports/jacoco/jacocoAndroidTestReport/html
**/build/reports/jacoco/jacocoTestReport/jacocoTestReport.html
**/build/reports/jacoco/jacocoUnitTestReport/html
build/reports/problems/problems-report.html
.kotlin/sessions/kotlin-compiler-16925759521385048694.salive
